version: '3.3'
services:
  abaddon:
    build: .
    hostname: abaddon
    #restart: unless-stopped
    volumes:
      - abaddonvol:/root/oblige:rw
    image: innovanon/abaddon:latest
    container_name: abaddon

volumes:
  abaddonvol:
    external: true

